
div#alert{
    margin-left:40%;
    margin-right:40%;
    display:flex;
    justify-content: center;
    color: rgb(9, 40, 51);
    background-color: rgb(137, 187, 194);
    border-radius: 5px;
    width: 20em;
    height: 5em;
    box-shadow: -4px -1px 40px 1px rgba(0,0,0,0.75);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div#alert:hover{
    background-color:  rgb(189, 0, 0);
    cursor: pointer;
    -webkit-box-shadow: -4px -1px 51px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -1px 51px 13px rgba(0,0,0,0.75);
    box-shadow: -4px -1px 51px 13px rgba(0,0,0,0.75);
}
div#alert:active{
    background-color:  rgb(172, 0, 0);
    cursor: pointer;
}
div#alert p#pAlert{

    font-size: 4.2em;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0px;
}
div#allAlerts{
    text-align:center;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    height: 35em;
    margin-top: 1%;
    z-index: 999;
    position: relative;
}
div.alerts{
    margin:1px;
    width:40%;
    height: 45%;
    text-align:left;
    display: none; 
    border-radius: 8px;
}
div.alerts img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color:rgba(196, 196, 196, 0.815);
    -webkit-box-shadow: -4px 15px 40px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 15px 40px -1px rgba(0,0,0,0.75);
    box-shadow: -4px 15px 40px -1px rgba(0,0,0,0.75);
}
div.alerts img:hover{
    cursor:pointer;
    background-color:rgba(196, 196, 196, 0.795);
    -webkit-box-shadow: -3px 7px 45px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 7px 45px 12px rgba(0,0,0,0.75);
    box-shadow: -3px 7px 45px 12px rgba(0,0,0,0.75);
}