body {
    background:#00838f;
}
* {
  box-sizing: border-box;
}
#formular {
    margin:auto;
    padding:3%;
    width:65%;
   color:#6B0F1A;
   background-color: #DAF7DC;
    border-radius:1%;
    box-shadow:-4px -1px 40px 1px rgba(0,0,0,0.35);
   
    font-family: "Calibri";



}
form{
        
font-size:1.5em;
    font-weight:bold;
   
  

}
h1 {
    text-align: center;
    margin-top:0;
    font-size:2.5em;
    
}

input[type=text],#tip-alerta,#detalii {
    width:100%;
    resize:vertical;
    padding:1%;
    font-size:1vw;
    
}
input[type=text]:focus,#detalii:focus,#tip-alerta:focus{
    border: 3px solid ;
    cursor:pointer;
}

#detalii{
    height:250px;
}

input[type=submit] {
    width:20%;
    margin-top:2%;
    padding:1.5%;;
    font-size:80%;
    text-decoration: none;
    background-color: red;
    border:none;
    color:white;
    cursor:pointer;
    border-radius:2%;
    float:right;
}
input[type=submit]:hover{
    background-color:darkred;
} 
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

