#alarmPopup{
    display:none;
    height:620px;
    width:900px;
    background: white;
    position:fixed;
    z-index:1000;
    justify-content: space-around;

    border-radius: 6px;
    border-style:solid;
    border-color: darkred;
    margin-left: 300px;
    margin-top:30px;
    font-size:2em;
    color:red;
    border-width: 10px;

 }
#alarmPopup #description{
    margin-top:100px;
}

#alarmIcon{
    height:175px;
    width:175px;
    margin-left:90px;
    animation: blink 1s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
#mapRef{

    width:100px;
    height:100px;
    margin-left:400px;

}

#alarmPopup #close {
    display:none;
    width:50px;
}