body{
    background-image: linear-gradient( rgba(0, 134, 172, 0.51), rgba(11, 20, 200, 0.6));
}
div#alert{

    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.904);
    background-color:  rgba(255, 0, 0, 0.815);
    border-radius: 5px;
    margin-top: 3%;
    width: 20em;
    height: 5em;
    -webkit-box-shadow: -4px -1px 51px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -1px 51px 6px rgba(0,0,0,0.75);
    box-shadow: -4px -1px 51px 6px rgba(0,0,0,0.75);
}
div#alert:hover{
    background-color:  rgb(189, 0, 0);
    cursor: pointer;
    -webkit-box-shadow: -4px -1px 51px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -1px 51px 13px rgba(0,0,0,0.75);
    box-shadow: -4px -1px 51px 13px rgba(0,0,0,0.75);
}
div#alert:active{
    background-color:  rgb(172, 0, 0);
    cursor: pointer;
}
div#alert p#pAlert{

    font-size: 4.2em;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0px;
}
div#allAlerts{
    text-align:center;
    margin-left:auto;
    margin-right: auto;
    width: 30%;
    height: 20em;
    margin-top: 1%;
    z-index: 999;
    position: relative;
}
div.alerts{
    margin:1px;
    width:40%;
    height: 45%;
    text-align:left;
    display: none; 
    border-radius: 8px;
}
div.alerts img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color:rgba(196, 196, 196, 0.63);
    -webkit-box-shadow: -4px 15px 40px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 15px 40px -1px rgba(0,0,0,0.75);
    box-shadow: -4px 15px 40px -1px rgba(0,0,0,0.75);
}
div.alerts img:hover{
    cursor:pointer;
    background-color:rgba(196, 196, 196, 0.795);
    -webkit-box-shadow: -3px 7px 45px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 7px 45px 12px rgba(0,0,0,0.75);
    box-shadow: -3px 7px 45px 12px rgba(0,0,0,0.75);
}
div#safe{
    width: 40em;
    height: 10em;
    border-radius: 5px;
   /* border: 1px solid rgb(28, 28, 139); */
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 0%;
    top:  16em;
    border:1px solid black;
    margin:0;
    padding:0;

    
}
div#safe ul{
    margin:0;
    padding:0;
}
div#safe li{
    list-style: none;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
    font-size: 1.7em;
    color:black;
    text-align: center;
}
div#safe li:hover{
    cursor:pointer;
    background-color: #dddddd;
}
div#safe li:nth-child(even){background-color: #f2f2f2;}
div#safe li:nth-child(even):hover{background-color: #dddddd;cursor:pointer;}
div#safe li#status{
    background-color:black;
    color:white;
    padding:0;
    margin:0;
}

.flex-container{
    width: 100%;
    height:auto;


    background-color: rgba(4, 204, 152, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content:stretch;

}
img#map{
    height:500px;
    width: 59%;
    border-radius: 8%;
    margin-left: 5px;
}

div#list{
    width: 40%;


}
nav ul{
    height:500px;
    width: inherit;
    background-color: rgba(4, 204, 152, 0.25);
    margin: 0;
    padding:0;
    overflow:hidden;
    overflow-y:scroll;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
}

nav ul::-webkit-scrollbar{
    width:10px;
    background-image: linear-gradient( rgba(0, 167, 212, 0.51), rgba(11, 20, 222, 0.6));
}
nav ul::-webkit-scrollbar-thumb{
    background-image: linear-gradient( rgba(0, 215, 255, 0.51), rgba(4, 17, 249, 0.6));

}
nav ul::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(13, 49, 73, 0.82);
    background-color: rgba(3, 57, 98, 0.57);
}
nav ul li {
    list-style: none;
    border-bottom: 1px solid black;
    background-image: linear-gradient( rgba(0, 61, 86, 0.51), rgba(11, 17, 106, 0.6));
    margin-top: 8px;
    margin-bottom: 8px;
    height: 60px;
    padding: 0;
    font-size: 2em;
    color: #fefdff;
    text-align: center;
    text-overflow: ellipsis;




}
nav ul li:hover{
    cursor: pointer;
    background-color: rgba(60, 100, 222, 0.82);
}
/* Miha*/
#logo{
    width:80px;
}
#top{
    display:flex;
    justify-content: space-between;

}
